.serial-content-list {
  list-style: none;
  padding: 0;
}

.serial-content-list-item {
  margin-bottom: 20px;
}

.serial-content-list-item a {
  color: var(--foreground);
  text-decoration: none;
}

.serial-content-list-item-title {
  margin-bottom: 5px;
}

.serial-content-details {
  display: flex;
  flex-direction: column;
}

.serial-content-details-date {
  margin-bottom: 10px;
}

.serial-content-details-tags {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.serial-content-details-tags li {
  margin-bottom: 5px;
}

.serial-content-details-tags li:last-child {
  margin-right: 0;
}

.pill {
  background-color: var(--foreground);
  border-radius: 15px;
  color: var(--background-monitor-screen);
  display: inline-block;
  font-size: 15px;
  line-break: normal;
  padding: 5px 15px;
  white-space: nowrap;
}

.serial-content-content {
  line-height: 2em;
  margin-top: 30px;
}

.serial-content-content img {
  max-width: 900px;
  width: 100%;
}

.serial-content-content code {
  background-color: var(--text-code-background);
  border: 1px solid var(--text-code-border);
  border-radius: 2px;
  display: inline-block;
  font-family: var(--font-text);
  font-weight: bold;
  letter-spacing: 1.4px;
  margin: 3px;
  padding: 0 5px;
}

@keyframes content-loading-animation-bar-1 {
  0% {
    flex: 4;
    transform: scale(1.1);
  }

  50% {
    flex: 1;
    transform: scale(.9);
  }

  100% {
    flex: 1;
    transform: scale(.9);
  }
}
@keyframes content-loading-animation-bar-2 {
  0% {
    flex: 1;
    transform: scale(.9);
  }

  50% {
    flex: 4;
    transform: scale(1.1);
  }

  100% {
    flex: 1;
    transform: scale(.9);
  }
}
@keyframes content-loading-animation-bar-3 {
  0% {
    flex: 1;
    transform: scale(.9);
  }

  50% {
    flex: 1;
    transform: scale(.9);
  }

  100% {
    flex: 4;
    transform: scale(1.1);
  }
}
.content-loading-wrapper {
  display: flex;
  justify-content: center;
}

.content-loading {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 80px;
  margin: 50px 0;
  width: 100px;
}

.content-loading-bar {
  background-color: var(--foreground);
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  display: flex;
  flex: 1;
  margin: 0 5px;
}

.bar-1,
.bar-2,
.bar-3 {
  animation-direction: alternate-reverse;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.bar-1 {
  animation-name: content-loading-animation-bar-1;
  /* animation: content-loading-animation-bar-1 1s infinite alternate-reverse ease-in-out; */
}

.bar-2 {
  animation-name: content-loading-animation-bar-2;
  /* animation: content-loading-animation-bar-2 1s infinite alternate-reverse ease-in-out; */
}

.bar-3 {
  animation-name: content-loading-animation-bar-3;
  /* animation: content-loading-animation-bar-3 1s infinite alternate-reverse ease-in-out; */
}

@media (min-width: 768px) {
  .serial-content-details-date {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .serial-content-details-tags li {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .serial-content-details,
  .serial-content-details-tags {
    align-items: center;
    flex-direction: row;
  }
}
