:root {
  --background-monitor: #C9C7AF;
  --background-monitor-screen: #EEF1DB;
  --foreground: #485B63;
  --highlight: #f51111;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bitcount single";
  font-size: 18px;
  line-height: 1.5;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: calc(100% - 20px);
}

.monitor-screen-container {
  width: calc(100% - 25px);
}

a {
  font-weight: 500;
  text-decoration: underline;
}

.monitor {
  background: var(--background-monitor);
  height: 100%;
  display: flex;
  padding: 10px 10px;
}

.monitor-screen {
  display: flex;
  height: 100%;
  width: 100%
}

.monitor-screen-inner {
  background: var(--background-monitor-screen);
  border-radius: 7px;
  box-shadow: inset 1px 1px 7px 7px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  overflow: auto;
  padding: 25px 5px;
  width: 100%
}

.monitor-screen-title {
  border-bottom: solid 4px var(--foreground);
  margin-bottom: 160px;
}

.monitor-screen-title h1 {
  font-family: "Bitcount";
  font-size: 50px;
  font-weight: normal;
  text-align: right;
}

.monitor-screen-content p {
  margin-bottom: 10px;
}

.monitor-screen-jumbotron {
  display: flex;
  justify-content: center;
}

.monitor-screen-jumbotron pre {
  color: var(--highlight);
  font-family: "Doto";
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  width: auto;
}

.monitor-screen-footer {
  border-top: solid 4px var(--foreground);
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px 0 20px;
}

.monitor-screen-footer ul {
  list-style: none;
}

.monitor-screen-footer li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}

.monitor-screen-footer li::after {
  content: "\25A0";
  font-size: 14px;
  position: absolute;
  right: -25px;
}

.monitor-screen-footer li:last-child {
  margin-right: 0;
}

.monitor-screen-footer li:last-child::after {
  content: "";
}

@media (min-width: 576px) {
  #root {
    height: calc(100% - 50px);
  }

  .monitor {
    padding: 25px 40px;
  }

  .monitor-screen-container {
    display: flex;
    flex-flow: column;
    justify-self: center;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .monitor-screen-container {
    max-width: 660px;
  }
}

@media (min-width: 992px) {
  .monitor-screen-container {
    max-width: 880px;
  }
}

@media (min-width: 1200px) {
  #root {
    height: calc(100% - 60px);
  }

  .monitor {
    padding: 30px 50px;
  }

  .monitor-screen-container {
    max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .monitor-screen-container {
    max-width: 1280px;
  }
}

/**
 * From https://aleclownes.com/2017/02/01/crt-display.html
 */
.crt {
  position: relative;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.04) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.025), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.01));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 1s infinite;
}
