:root {
  --font-title: "Bitcount";
  --font-text: "Bitcount single";
  --font-jumbotron: "Doto";
  --background-monitor: #C9C7AF;
  --background-monitor-screen: #EEF1DB;
  --foreground: #485B63;
  --highlight: #f51111;
}

h1, h2, h3 {
  font-family: var(--font-title);
  margin: 1em 0 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text);
  font-size: 20px;
  line-height: 1.5;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: calc(100% - 20px);
}

.monitor-screen-container {
  width: calc(100% - 25px);
}

a {
  font-weight: 500;
  text-decoration: underline;
}

.monitor {
  background: var(--background-monitor);
  height: 100%;
  display: flex;
  padding: 10px 10px;
}

.monitor-screen {
  display: flex;
  height: 100%;
  width: 100%
}

.monitor-screen-inner {
  background: var(--background-monitor-screen);
  border-radius: 10px;
  box-shadow: inset 1px 1px 7px 7px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  overflow: auto;
  padding: 25px 5px;
  width: 100%
}

.monitor-screen-main-header {
  margin-bottom: 160px;
  text-align: right;
}

.monitor-screen-title {
  border-bottom: solid 4px var(--foreground);
}

.monitor-screen-title h1 {
  font-size: 50px;
  font-weight: normal;
}

.monitor-screen-top-nav ul {
  list-style: none;
}

.monitor-screen-content p {
  margin-bottom: 10px;
}

.monitor-screen-jumbotron {
  display: flex;
  justify-content: center;
}

.monitor-screen-jumbotron pre {
  color: var(--highlight);
  font-family: var(--font-jumbotron);
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  width: auto;
}

.monitor-screen-footer {
  border-top: solid 4px var(--foreground);
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px 0 20px;
}

@media (min-width: 576px) {
  #root {
    height: calc(100% - 50px);
  }

  .monitor {
    padding: 25px 40px;
  }

  .monitor-screen-container {
    display: flex;
    flex-flow: column;
    justify-self: center;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #root {
    height: calc(100% - 80px);
  }

  .monitor {
    padding: 40px;
  }

  .monitor-screen-container {
    max-width: 660px;
  }
}

@media (min-width: 992px) {
  .monitor-screen-container {
    max-width: 880px;
  }
}

@media (min-width: 1200px) {
  #root {
    height: calc(100% - 120px);
  }

  .monitor {
    padding: 50px 50px 80px;
  }

  .monitor-screen-container {
    max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .monitor-screen-container {
    max-width: 1280px;
  }
}

/* ************************************************************************ */

li {
  list-style: square;
}

@media (min-width: 768px) {
  .horizontal-list {
    list-style: none;
  }

  .horizontal-list li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
  }

  .horizontal-list li::after {
    content: "\25A0";
    font-size: 14px;
    position: absolute;
    right: -25px;
    top: calc(50% - 10px);
  }

  .horizontal-list li:last-child {
    margin-right: 0;
  }

  .horizontal-list li:last-child::after {
    content: "";
  }
}

/* ************************************************************************ */

.media {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media-image {
  max-width: 500px;
}

.media-image img {
  width: 100%;
}

.media-content {
  flex: 1;
  padding-left: 30px;
}

@media (min-width: 992px) {
  .media {
    flex-direction: row;
  }

  .media-image {
    width: 500px;
  }
}

/* ************************************************************************ */

/**
 * From https://aleclownes.com/2017/02/01/crt-display.html
 */@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.crt {
  position: relative;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.04) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.025), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.01));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.02);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 1s infinite;
}
